@use "./variables" as *;

.details {
  padding-block: $p-2 $p-3;
}

.back-btn {
  border: 0;
  background: var(--element);
  color: var(--text);
  cursor: pointer;
  padding: 0.6rem 1.8rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.14);
  margin-bottom: $p-3;
}

.details__content {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: $p-4;
  align-items: center;
}

.details__flag {
  width: 100%;
  max-height: 420px;
  object-fit: cover;
}

.details h2 {
  margin-bottom: $p-1-5;
  font-size: clamp(1.8rem, 3vw, 2.2rem);
}

.details__cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $p-2;
  margin-bottom: $p-2-5;

  p {
    margin-bottom: 0.7rem;
  }
}

.borders {
  display: flex;
  gap: $p-1;
  flex-wrap: wrap;
  align-items: flex-start;
}

.borders__list {
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
}

.pill {
  text-decoration: none;
  color: var(--text);
  background: var(--element);
  padding: 0.35rem 1rem;
  border-radius: 4px;
  min-width: 90px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.14);
}

@media (max-width: 900px) {
  .details__content {
    grid-template-columns: 1fr;
    gap: $p-2;
  }

  .details__cols {
    grid-template-columns: 1fr;
  }
}
